.video-container {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Optional, centers content vertically */
    margin-top: 5px;
}

body {
    background-color: white; 
    color: black;
}

h1, h2, h3, h4, p {
    color: black; 
}